apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${{ values.component_id }}
  namespace: ${{ values.namespace }}
  labels:
    backstage.io/kubernetes-id: ${{ values.component_id }}
spec:
  selector:
    matchLabels:
      app: ${{ values.component_id }}
  replicas: 2
  template:
    metadata:
      labels:
        app: ${{ values.component_id }}
        backstage.io/kubernetes-id: ${{ values.component_id }}
    spec:
      containers:
        - name: app
          image: nginx:1.14.2
          args:
            - bash
            - -c
            - yes > /dev/null & yes > /dev/null & yes > /dev/null
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "50m"
          ports:
            - containerPort: 80